crewai==1.10.1
crewai-tools==1.10.1

pydantic>=2.11.9,<2.12
pydantic-settings==2.10.1
mcp==1.26.0
python-dotenv>=1.1.1,<1.2
streamlit
numpy==1.26.4
pandas==2.2.2
cvxpy==1.7.3
scipy>=1.13.0
gurobipy
torch==2.4.1
gymnasium==1.1.1
ray==2.50.0
scikit-learn
matplotlib
langchain-core
langchain-huggingface
google-genai
pysqlite3-binary
chromadb~=1.1.0
lancedb>=0.29.2
sentence-transformers
tiktoken>=0.8.0

loguru
numerize
